body{
	font-family: Arial ;
	font-size: large;
	line-height: 1.6;
	background: #ecf0f1;
}

li{
	list-style: none;
	padding: auto;
}

h2{
	color: mediumseagreen;
}
.question{
	height: 400px;
	padding: auto;
}

.outerbox{
	background-image: url(img.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 70%;
	margin: auto;
}

.first{
	text-align: center;
}

.up{
	text-align: center;
}

.down{
	text-align: center;
}

header{
	background: DarkTurquoise;
	color: AliceBlue;
	padding: 20px;
	overflow: auto;
}

footer{
	background: DarkTurquoise;
	color: AliceBlue;
	padding: 20px;
	overflow: auto;
}